html,
body {
    height: 100%
}

body {
    width: 100%;
    line-height: 12px;
    color: #505050;
    background: #fff;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    margin: 0 auto;
}

body,
tr,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
select,
textarea,
input,
dt,
dd,
dl,
div,
p,
form,
table,
thead,
tbody,
fieldset,
legend,
label,
section {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    line-height: inherit
}

fieldset {
    border: 0
}

img {
    border: 0;
    vertical-align: middle
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

input[type=text],
input[type=password],
textarea {
    background: #e7f3fb;
    border: 1px solid #b3d3e9;
    color: #274674;
    padding-left: 11px;
    vertical-align: middle;
}

input[type=checkbox] {
    vertical-align: middle;
    outline: none;
}

input[type=checkbox],
input[type=checkbox]::-ms-check {
    border-radius: 1px;
    border-color: #c5c5c5 !important;
    outline: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input[readonly=readonly],
input[disabled=disabled],
.disabled,
.k-dropdown-wrap.k-state-disabled {
    color: #b4cad9;
}

input[type=checkbox]:focus {
    outline: 2px solid #005a99
}

textarea {
    width: 100%;
    padding: 10px;
    color: #666;
    line-height: 150%;
    border: 1px solid #e2e2e2;
    overflow-y: auto;
    box-sizing: border-box;
    resize: none;
}

a:link,
a:visited,
a:hover {
    outline: none;
    text-decoration: none;
}

a:focus,
button:focus {
    outline: 1px solid #222
}

a:active {
    background-color: transparent
}

button {
    cursor: pointer;
    line-height: normal;
    background-color: transparent;
    border: 0;
}

table {
    word-break: break-word;
    border: 0;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
}

td,
th {
    word-break: break-word;
    empty-cells: show;
    vertical-align: middle;
    text-align: left;
    font-weight: normal
}

select {
    vertical-align: middle;
    background: #e7f3fb;
    border: 1px solid #b3d3e9;
    color: #274674;
    padding-left: 11px;
}

*,
*:after,
*:before,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}